#[Apache Spark 3.0.0 with Google Colab](http://apache.osuosl.org/spark/spark-3.0.0/)

**Author: MA Raza**

This is the working google collaboratory notebook example of setting up  recently release spark 3.0.0 in google colab. 

* Installing Java in the Google Colaboratory
* Setting up Spark 3.0 in the Google Colaboratory
* A test example

**References:**

1. http://apache.osuosl.org/spark/spark-3.0.0/
2. https://medium.com/@sushantgautam_930/apache-spark-in-google-collaboratory-in-3-steps-e0acbba654e6
3. https://notebooks.gesis.org/binder/jupyter/user/databricks-koalas-kuv5qckt/notebooks/docs/source/getting_started/10min.ipynb
4. https://medium.com/@amjadraza24/getting-started-spark3-0-0-with-google-colab-9796d350d78

# Setting up Spark 3.0.0 in the Google Colaboratory

This notebook comprises the instructions to run Sprak and pyspark in google colabboratory framework. 

We will be running the excises of  some basic functions on using koalas

We will install below programs

* Java 8
* spark-3.0.0
* Hadoop3.2 
* [Findspark](https://github.com/minrk/findspark)


This installs Apache Spark 3.0.0, Java 8, and [Findspark](https://github.com/minrk/findspark), a library that makes it easy for Python to find Spark.

Run below set of commands to install spark. 

**Change the location/version of spark version of your choice**

**[Apache Spark in Google Collaboratory In 3 steps.](https://medium.com/@sushantgautam_930/apache-spark-in-google-collaboratory-in-3-steps-e0acbba654e6)**

> Make sure the spark-version you are downloading is availbale on target link

In [ ]:
Пакеты TCP и UDP (все потоковое идет по UDP)

In [ ]:
Можно создавать презентации в Jupiter Notebook

In [ ]:
Light GBM (избавляется от ноги, которая показывает плохой результат)

In [1]:
# Run below commands
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-3.0.2/spark-3.0.2-bin-hadoop3.2.tgz
!tar xf spark-3.0.2-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
!ls -a

.   .config	 spark-3.0.2-bin-hadoop3.2
..  sample_data  spark-3.0.2-bin-hadoop3.2.tgz

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop3.2"

## Spark Installation test
Lets test the installation of spark in our google colab environment.

In [4]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()
# Test the spark 
df = spark.createDataFrame([{"hello": "world"} for x in range(1000)])

df.show(3, False)

/content/spark-3.0.2-bin-hadoop3.2/python/pyspark/sql/session.py:381: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+-----+
|hello|
+-----+
|world|
|world|
|world|
+-----+
only showing top 3 rows

In [5]:
# Check the pyspark version
import pyspark
print(pyspark.__version__)

3.0.2

# Conclusions

In this notebook, we learned

* Running spark 3.0.0-preview2 in Google Colab
* Running pysprak3.0.0dev2

In [6]:
spark

In [7]:
import os
import glob
import sys
import pandas as pd

import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession



conf = SparkConf().setAppName("TestName")

In [8]:
sc = SparkContext.getOrCreate(conf=conf)

In [9]:
# Создаю RDD из подгружаемого файла
from google.colab import files
RedditNews = files.upload() # then browse, select the files. It's then uploaded

Saving RedditNews.csv to RedditNews.csv

In [10]:
# простой DF
RedditNews = pd.read_csv('RedditNews.csv', header=0)
news = spark.createDataFrame(RedditNews)

# ещё один способ визуализации
display(news.show(5))

+----------+--------------------+
|      Date|                News|
+----------+--------------------+
|2016-07-01|A 117-year-old wo...|
|2016-07-01|IMF chief backs A...|
|2016-07-01|The president of ...|
|2016-07-01|British Man Who M...|
|2016-07-01|100+ Nobel laurea...|
+----------+--------------------+
only showing top 5 rows

None

In [11]:
# Подгружаем данные DJI
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data

djia = data.get_data_yahoo('DJIA', '2000-01-01', '2020-01-01')
djia.head()

                    High           Low  ...      Volume     Adj Close
Date                                    ...
2000-01-03  11641.070312  11180.980469  ...   931800000  11357.509766
2000-01-04  11358.440430  10907.030273  ...  1009000000  10997.929688
2000-01-05  11337.650391  10862.660156  ...  1085500000  11122.650391
2000-01-06  11447.790039  10963.179688  ...  1092300000  11253.259766
2000-01-07  11655.650391  11168.259766  ...  1225200000  11522.559570

[5 rows x 6 columns]

In [12]:
# Подгружаем данные DJI
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data

djia = data.get_data_yahoo('DJIA', '2000-01-01', '2017-12-30')
dji = spark.createDataFrame(djia)
display(dji.show(5))

+----------------+----------------+----------------+----------------+----------+----------------+
|            High|             Low|            Open|           Close|    Volume|       Adj Close|
+----------------+----------------+----------------+----------------+----------+----------------+
|   11641.0703125|  11180.98046875| 11501.849609375| 11357.509765625| 931800000| 11357.509765625|
|11358.4404296875|10907.0302734375|        11349.75|   10997.9296875|1009000000|   10997.9296875|
| 11337.650390625|  10862.66015625|10989.3701171875| 11122.650390625|1085500000| 11122.650390625|
|11447.7900390625|   10963.1796875|11113.3701171875| 11253.259765625|1092300000| 11253.259765625|
| 11655.650390625| 11168.259765625|11247.0595703125|11522.5595703125|1225200000|11522.5595703125|
+----------------+----------------+----------------+----------------+----------+----------------+
only showing top 5 rows

None

In [13]:
# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = ['AAPL', 'BA', 'CAT']

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2010-01-01'
end_date = '2016-12-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
djia_firms = data.DataReader(tickers, 'yahoo', start_date, end_date)
dji_firms = spark.createDataFrame(djia_firms)

# Источник: https://www.learndatasci.com/tutorials/python-finance-part-yahoo-finance-api-pandas-matplotlib/

In [14]:
display(dji_firms.show(5))

+---------------------+-------------------+--------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+----------------+-----------------+
|('Adj Close', 'AAPL')|('Adj Close', 'BA')|('Adj Close', 'CAT')|('Close', 'AAPL')|   ('Close', 'BA')| ('Close', 'CAT')|  ('High', 'AAPL')|    ('High', 'BA')|   ('High', 'CAT')|   ('Low', 'AAPL')|     ('Low', 'BA')|    ('Low', 'CAT')| ('Open', 'AAPL')|    ('Open', 'BA')|   ('Open', 'CAT')|('Volume', 'AAPL')|('Volume', 'BA')|('Volume', 'CAT')|
+---------------------+-------------------+--------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+----------------+-----------------+
|    6.583585739135742|  43.77754211425781|   42.98075866699219|7.643214225769043| 56.18000030517578|58.54999923706055| 7.660714149475098| 56.38999938964844|59.189998626708984| 7.585000038146973| 54.79999923706055|  57.5099983215332|7.622499942779541|55.720001220703125|57.650001525878906|        4.937296E8|       6186700.0|        7325600.0|
|    6.594967842102051|  45.21133041381836|    43.4946403503418|7.656428813934326| 58.02000045776367|            59.25| 7.699643135070801|58.279998779296875|59.439998626708984|7.6160712242126465|              56.0| 58.22999954223633|7.664286136627197|             56.25| 58.54999923706055|        6.019048E8|       8867800.0|        5697200.0|
|    6.490065574645996|  46.58279800415039|  43.626766204833984|7.534643173217773|59.779998779296875|59.43000030517578|  7.68678617477417|  59.9900016784668| 59.93000030517578| 7.526785850524902|57.880001068115234| 59.04999923706055|7.656428813934326| 58.22999954223633| 59.18000030517578|          5.5216E8|       8836500.0|        4718800.0|
|    6.478067398071289|  48.46855545043945|   43.80293655395508|7.520713806152344| 62.20000076293945|59.66999816894531|7.5714287757873535|62.310001373291016|59.900001525878906| 7.466071128845215| 59.02000045776367|58.650001525878906|           7.5625|  59.5099983215332| 59.29999923706055|        4.771312E8|       1.43791E7|        5432900.0|
|   6.5211358070373535| 48.001007080078125|   44.29477310180664|7.570713996887207|61.599998474121094|60.34000015258789|7.5714287757873535|61.779998779296875|60.369998931884766| 7.466429233551025| 60.86000061035156|             59.25|7.510714054107666|61.540000915527344|             59.25|        4.476108E8|       7146600.0|        6651300.0|
+---------------------+-------------------+--------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+----------------+-----------------+
only showing top 5 rows

None

In [15]:
tickers_non_dji = ['GOOG', 'AMZN']

start_date = '2010-01-01'
end_date = '2016-12-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
non_djia_firms = data.DataReader(tickers_non_dji, 'yahoo', start_date, end_date)
non_dji_firms = spark.createDataFrame(non_djia_firms)

In [16]:
display(non_dji_firms.show(5))

+---------------------+---------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|('Adj Close', 'GOOG')|('Adj Close', 'AMZN')| ('Close', 'GOOG')| ('Close', 'AMZN')|  ('High', 'GOOG')|  ('High', 'AMZN')|   ('Low', 'GOOG')|   ('Low', 'AMZN')| ('Open', 'GOOG')|  ('Open', 'AMZN')|('Volume', 'GOOG')|('Volume', 'AMZN')|
+---------------------+---------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|   312.20477294921875|   133.89999389648438|312.20477294921875|133.89999389648438| 313.5796203613281|136.61000061035156| 310.9544677734375|133.13999938964844|312.3044128417969|            136.25|         3927065.0|         7599900.0|
|    310.8299255371094|   134.69000244140625| 310.8299255371094|134.69000244140625|312.74774169921875|135.47999572753906| 309.6094970703125|131.80999755859375|312.4189758300781|133.42999267578125|         6031925.0|         8851900.0|
|    302.9942932128906|               132.25| 302.9942932128906|            132.25| 311.7614440917969|134.72999572753906|    302.0478515625|131.64999389648438|311.7614440917969|134.60000610351562|         7987226.0|         7178800.0|
|   295.94073486328125|                130.0|295.94073486328125|             130.0| 303.8610534667969|132.32000732421875|295.21844482421875| 128.8000030517578|303.5621643066406|132.00999450683594|       1.2876685E7|         1.10302E7|
|    299.8859558105469|   133.52000427246094| 299.8859558105469|133.52000427246094| 300.4986572265625|133.67999267578125| 293.4550476074219|129.02999877929688|294.8946533203125|130.55999755859375|         9484016.0|         9830500.0|
+---------------------+---------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
only showing top 5 rows

None

# Переходим к анализу текста

In [17]:
### Tokenizers
from pyspark.ml.feature import Tokenizer, RegexTokenizer
from pyspark.sql.functions import col, udf
from pyspark.sql.types import IntegerType
from pyspark.ml.feature import StopWordsRemover
## convert to word v review matrix 
from pyspark.ml.feature import HashingTF, IDF

In [18]:
display(news.show(5))

+----------+--------------------+
|      Date|                News|
+----------+--------------------+
|2016-07-01|A 117-year-old wo...|
|2016-07-01|IMF chief backs A...|
|2016-07-01|The president of ...|
|2016-07-01|British Man Who M...|
|2016-07-01|100+ Nobel laurea...|
+----------+--------------------+
only showing top 5 rows

None

In [19]:
countTokens = udf(lambda words: len(words), IntegerType()) # разбили все предложения на слова и посчитали их

In [20]:
# токенизация текста (предложения в объекты)
tokenizer = Tokenizer(inputCol="News", outputCol="words")
tokenized = tokenizer.transform(news)

# посмотрим результат
tokenized.select("Date", "News", "words").withColumn("tokens", countTokens(col("words"))).show(5)

+----------+--------------------+--------------------+------+
|      Date|                News|               words|tokens|
+----------+--------------------+--------------------+------+
|2016-07-01|A 117-year-old wo...|[a, 117-year-old,...|    32|
|2016-07-01|IMF chief backs A...|[imf, chief, back...|     8|
|2016-07-01|The president of ...|[the, president, ...|    12|
|2016-07-01|British Man Who M...|[british, man, wh...|    32|
|2016-07-01|100+ Nobel laurea...|[100+, nobel, lau...|     9|
+----------+--------------------+--------------------+------+
only showing top 5 rows

In [21]:
# удалить стоп-слова
remover = StopWordsRemover(inputCol="words", outputCol="filtered")
news2 = remover.transform(tokenized)\
       .select('Date','News','words','filtered')\
       .withColumn("tokens", countTokens(col("filtered")))
news2.show(5)

+----------+--------------------+--------------------+--------------------+------+
|      Date|                News|               words|            filtered|tokens|
+----------+--------------------+--------------------+--------------------+------+
|2016-07-01|A 117-year-old wo...|[a, 117-year-old,...|[117-year-old, wo...|    19|
|2016-07-01|IMF chief backs A...|[imf, chief, back...|[imf, chief, back...|     7|
|2016-07-01|The president of ...|[the, president, ...|[president, franc...|     7|
|2016-07-01|British Man Who M...|[british, man, wh...|[british, man, mu...|    21|
|2016-07-01|100+ Nobel laurea...|[100+, nobel, lau...|[100+, nobel, lau...|     8|
+----------+--------------------+--------------------+--------------------+------+
only showing top 5 rows

Для семантического анализа используем Vader

---

In [22]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [23]:
vader = SentimentIntensityAnalyzer()

In [24]:
def getSentimentScore(text):
    vs = vader.polarity_scores(text)
    return float(vs['compound'])

In [25]:
udfSentimentScore = udf(getSentimentScore)
sentiment = news2.withColumn('sentimentScore', udfSentimentScore('News'))
display(sentiment.show(35))

+----------+--------------------+--------------------+--------------------+------+--------------+
|      Date|                News|               words|            filtered|tokens|sentimentScore|
+----------+--------------------+--------------------+--------------------+------+--------------+
|2016-07-01|A 117-year-old wo...|[a, 117-year-old,...|[117-year-old, wo...|    19|       -0.5574|
|2016-07-01|IMF chief backs A...|[imf, chief, back...|[imf, chief, back...|     7|       -0.0516|
|2016-07-01|The president of ...|[the, president, ...|[president, franc...|     7|        0.5719|
|2016-07-01|British Man Who M...|[british, man, wh...|[british, man, mu...|    21|       -0.8658|
|2016-07-01|100+ Nobel laurea...|[100+, nobel, lau...|[100+, nobel, lau...|     8|        -0.296|
|2016-07-01|Brazil: Huge spik...|[brazil:, huge, s...|[brazil:, huge, s...|     9|       -0.4404|
|2016-07-01|Austria's highest...|[austria's, highe...|[austria's, highe...|    10|       -0.3182|
|2016-07-01|Facebook wins pri...|[facebook, wins, ...|[facebook, wins, ...|    12|        0.5612|
|2016-07-01|Switzerland denie...|[switzerland, den...|[switzerland, den...|    21|       -0.7351|
|2016-07-01|China kills milli...|[china, kills, mi...|[china, kills, mi...|     8|       -0.2732|
|2016-07-01|France Cracks Dow...|[france, cracks, ...|[france, cracks, ...|    27|       -0.8402|
|2016-07-01|Abbas PLO Faction...|[abbas, plo, fact...|[abbas, plo, fact...|     9|       -0.6486|
|2016-07-01|Taiwanese warship...|[taiwanese, warsh...|[taiwanese, warsh...|     7|       -0.4767|
|2016-07-01|Iran celebrates A...|[iran, celebrates...|[iran, celebrates...|    10|        0.1779|
|2016-07-01|U.N. panel moves ...|[u.n., panel, mov...|[u.n., panel, mov...|    13|       -0.1027|
|2016-07-01|The United States...|[the, united, sta...|[united, states, ...|    12|       -0.5859|
|2016-07-01|S&amp;P revises E...|[s&amp;p, revises...|[s&amp;p, revises...|     8|        0.3818|
|2016-07-01|India gets $1 bil...|[india, gets, $1,...|[india, gets, $1,...|     9|           0.0|
|2016-07-01|U.S. sailors deta...|[u.s., sailors, d...|[u.s., sailors, d...|     8|       -0.4019|
|2016-07-01|Mass fish kill in...|[mass, fish, kill...|[mass, fish, kill...|    10|       -0.3182|
|2016-07-01|Philippines presi...|[philippines, pre...|[philippines, pre...|    23|       -0.9509|
|2016-07-01|Spain arrests thr...|[spain, arrests, ...|[spain, arrests, ...|     7|       -0.3818|
|2016-07-01|Venezuela, where ...|[venezuela,, wher...|[venezuela,, ange...|    27|       -0.9618|
|2016-07-01|A Hindu temple wo...|[a, hindu, temple...|[hindu, temple, w...|    31|       -0.9432|
|2016-07-01|Ozone layer hole ...|[ozone, layer, ho...|[ozone, layer, ho...|    32|           0.0|
|2016-06-30|Jamaica proposes ...|[jamaica, propose...|[jamaica, propose...|    19|           0.0|
|2016-06-30|Stephen Hawking s...|[stephen, hawking...|[stephen, hawking...|    19|       -0.4141|
|2016-06-30|Boris Johnson say...|[boris, johnson, ...|[boris, johnson, ...|     7|        0.4019|
|2016-06-30|Six gay men in Iv...|[six, gay, men, i...|[six, gay, men, i...|    19|       -0.8934|
|2016-06-30|Switzerland denie...|[switzerland, den...|[switzerland, den...|    10|       -0.6124|
|2016-06-30|Palestinian terro...|[palestinian, ter...|[palestinian, ter...|     8|         -0.91|
|2016-06-30|Puerto Rico will ...|[puerto, rico, wi...|[puerto, rico, de...|     7|       -0.3612|
|2016-06-30|Republic of Irela...|[republic, of, ir...|[republic, irelan...|     8|        0.7003|
|2016-06-30|Afghan suicide bo...|[afghan, suicide,...|[afghan, suicide,...|     8|       -0.8402|
|2016-06-30|US airstrikes kil...|[us, airstrikes, ...|[us, airstrikes, ...|    12|       -0.7096|
+----------+--------------------+--------------------+--------------------+------+--------------+
only showing top 35 rows

None

In [26]:
from pyspark.sql.functions import *

In [29]:
sentiment_avg = sentiment.groupBy('Date').agg(avg(col('sentimentScore')).alias('avg_sentiment'))
sentiment_avg.show(5)

+----------+--------------------+
|      Date|       avg_sentiment|
+----------+--------------------+
|2015-05-01|           -0.281584|
|2014-12-13|-0.27572800000000003|
|2014-05-27|-0.14229599999999998|
|2014-02-22|-0.14512799999999998|
|2014-02-16|-0.19025999999999998|
+----------+--------------------+
only showing top 5 rows

In [32]:
sentiment_avg.orderBy('Date').show(truncate=False)

+----------+--------------------+
|Date      |avg_sentiment       |
+----------+--------------------+
|2008-06-08|-0.36242399999999997|
|2008-06-09|-0.24253600000000006|
|2008-06-10|-0.30474            |
|2008-06-11|-0.143736           |
|2008-06-12|-0.12856399999999998|
|2008-06-13|-0.252312           |
|2008-06-14|-0.141268           |
|2008-06-15|-0.16602            |
|2008-06-16|-0.23004800000000003|
|2008-06-17|-0.208244           |
|2008-06-18|-0.2497040000000001 |
|2008-06-19|-0.095984           |
|2008-06-20|-0.38749599999999984|
|2008-06-21|-0.19152800000000003|
|2008-06-22|-0.22824000000000003|
|2008-06-23|-0.19309199999999993|
|2008-06-24|-0.17726799999999998|
|2008-06-25|-0.20394800000000005|
|2008-06-26|-0.315736           |
|2008-06-27|-0.18349999999999997|
+----------+--------------------+
only showing top 20 rows

In [33]:
display(sentiment_avg)

DataFrame[Date: string, avg_sentiment: double]

In [114]:
import matplotlib.pyplot as plt
import seaborn as sns

In [116]:
ax = sns.boxplot(x="Date", y="avg_sentiment",data=sentiment_avg)

AttributeError: ignored

In [112]:
py.iplot(sentiment_avg, filename="spark/over_time")

NameError: ignored

In [109]:
sentiment_vis = sentiment.join(sentiment_avg,'Date')
sentiment_vis.select('Date', 'tokens','Avg_Sentiment')
sentiment_vis.show(3)

+----------+--------------------+--------------------+--------------------+------+--------------+--------------------+
|      Date|                News|               words|            filtered|tokens|sentimentScore|       avg_sentiment|
+----------+--------------------+--------------------+--------------------+------+--------------+--------------------+
|2008-10-26|b'It begins: Aust...|[b'it, begins:, a...|[b'it, begins:, a...|    11|       -0.4404|-0.22622199999999926|
|2008-10-26|b'Sharia rulings ...|[b'sharia, ruling...|[b'sharia, ruling...|    15|        0.1027|-0.22622199999999926|
|2008-10-26|b"Japan's fastest...|[b"japan's, faste...|[b"japan's, faste...|     5|       -0.4767|-0.22622199999999926|
+----------+--------------------+--------------------+--------------------+------+--------------+--------------------+
only showing top 3 rows

In [99]:
period = sentiment.select(col("Date"),to_date(col("Date"),"yyyy-mm-dd").alias("period"))
period.show(3)

+----------+----------+
|      Date|    period|
+----------+----------+
|2016-07-01|2016-01-01|
|2016-07-01|2016-01-01|
|2016-07-01|2016-01-01|
+----------+----------+
only showing top 3 rows

In [104]:
sentiment3 = sentiment2.groupBy('Date').agg(avg(col('sentimentScore')).alias('avg_sentiment'))
sentiment3.show(5)

+----------+--------------------+
|    period|       Avg_Sentiment|
+----------+--------------------+
|2013-01-22|-0.26592599999999966|
|2011-01-29|-0.18671163636363655|
|2011-01-30|-0.23438909090909127|
|2011-01-23|-0.24968466666666667|
|2008-01-20| -0.2065274285714288|
+----------+--------------------+
only showing top 5 rows

In [107]:
sentiment_vis = sentiment2.join(sentiment3,'period')
sentiment_vis.select('period', 'tokens','Avg_Sentiment')
sentiment_vis.show(3)

+----------+----------+--------------------+--------------------+--------------------+------+--------------+--------------------+
|    period|      Date|                News|               words|            filtered|tokens|sentimentScore|       Avg_Sentiment|
+----------+----------+--------------------+--------------------+--------------------+------+--------------+--------------------+
|2013-01-22|2013-03-22|Twelve North Kore...|[twelve, north, k...|[twelve, north, k...|    12|         -0.34|-0.26592599999999966|
|2013-01-22|2013-03-22|Twelve North Kore...|[twelve, north, k...|[twelve, north, k...|    12|         -0.34|-0.26592599999999966|
|2013-01-22|2013-03-22|Twelve North Kore...|[twelve, north, k...|[twelve, north, k...|    12|         -0.34|-0.26592599999999966|
+----------+----------+--------------------+--------------------+--------------------+------+--------------+--------------------+
only showing top 3 rows

In [82]:
#sentiment.withColumn('date', col('date')).groupBy("date").agg(avg("sentimentScore")).show(20)

+----------+--------------------+
|      date| avg(sentimentScore)|
+----------+--------------------+
|2015-05-01|           -0.281584|
|2014-12-13|-0.27572800000000003|
|2014-05-27|-0.14229599999999998|
|2014-02-22|-0.14512799999999998|
|2014-02-16|-0.19025999999999998|
|2013-03-14| 0.04971999999999998|
|2011-01-29|-0.10014799999999997|
|2010-09-24|           -0.357788|
|2010-02-12|-0.25953200000000004|
|2009-12-04|           -0.250304|
|2009-06-23|-0.30028000000000005|
|2009-01-04|           -0.251396|
|2008-12-03|-0.16224800000000003|
|2008-11-19| 0.06001999999999999|
|2008-10-26|           -0.226222|
|2016-04-22|-0.12435999999999998|
|2015-02-27|-0.11101600000000002|
|2015-02-09|-0.21621600000000005|
|2014-12-11|-0.12794800000000003|
|2014-07-14|-0.17927200000000001|
+----------+--------------------+
only showing top 20 rows

In [73]:
from pyspark.sql.functions import *

In [74]:
sentiment.select("Date").dtypes

[('Date', 'string')]

In [90]:
sentiment2 = sentiment.select(col("Date"),to_date(col("Date"),"yyyy-mm-dd").alias("period"))
sentiment2.show(4)

+----------+----------+
|      Date|    period|
+----------+----------+
|2016-07-01|2016-01-01|
|2016-07-01|2016-01-01|
|2016-07-01|2016-01-01|
|2016-07-01|2016-01-01|
+----------+----------+
only showing top 4 rows

In [95]:
sentiment3 = sentiment.select("Date", "News", "tokens", 'sentimentScore').withColumn("Date", to_date(col("Date"), 'yyyy-mm-dd').alias('period')).show(5)
sentiment3.dtypes

+----------+--------------------+------+--------------+
|      Date|                News|tokens|sentimentScore|
+----------+--------------------+------+--------------+
|2016-01-01|A 117-year-old wo...|    19|       -0.5574|
|2016-01-01|IMF chief backs A...|     7|       -0.0516|
|2016-01-01|The president of ...|     7|        0.5719|
|2016-01-01|British Man Who M...|    21|       -0.8658|
|2016-01-01|100+ Nobel laurea...|     8|        -0.296|
+----------+--------------------+------+--------------+
only showing top 5 rows

AttributeError: ignored

In [86]:
sentiment.show(5)

+----------+--------------------+--------------------+--------------------+------+--------------+
|      Date|                News|               words|            filtered|tokens|sentimentScore|
+----------+--------------------+--------------------+--------------------+------+--------------+
|2016-07-01|A 117-year-old wo...|[a, 117-year-old,...|[117-year-old, wo...|    19|       -0.5574|
|2016-07-01|IMF chief backs A...|[imf, chief, back...|[imf, chief, back...|     7|       -0.0516|
|2016-07-01|The president of ...|[the, president, ...|[president, franc...|     7|        0.5719|
|2016-07-01|British Man Who M...|[british, man, wh...|[british, man, mu...|    21|       -0.8658|
|2016-07-01|100+ Nobel laurea...|[100+, nobel, lau...|[100+, nobel, lau...|     8|        -0.296|
+----------+--------------------+--------------------+--------------------+------+--------------+
only showing top 5 rows

In [63]:
from pyspark.sql.functions import col, max as max_

df = sc.parallelize([
    ("2016-04-06 16:36", 1234, 111, 1),
    ("2016-04-06 17:35", 1234, 111, 5),
]).toDF(["datetime", "userId", "memberId", "value"])

df.withColumn("datetime", col("datetime").cast("timestamp")).groupBy("userId", "memberId").agg(max_("datetime")).show(2)

df.show(2)

+------+--------+-------------------+
|userId|memberId|      max(datetime)|
+------+--------+-------------------+
|  1234|     111|2016-04-06 17:35:00|
+------+--------+-------------------+

+----------------+------+--------+-----+
|        datetime|userId|memberId|value|
+----------------+------+--------+-----+
|2016-04-06 16:36|  1234|     111|    1|
|2016-04-06 17:35|  1234|     111|    5|
+----------------+------+--------+-----+

In [53]:
sentiment2 = sentiment.groupBy('Date').agg(avg(col('sentimentScore')).alias('avg-sentiment'))
sentiment2.show(35)

+----------+--------------------+
|      Date|       avg-sentiment|
+----------+--------------------+
|2015-05-01|           -0.281584|
|2014-12-13|-0.27572800000000003|
|2014-05-27|-0.14229599999999998|
|2014-02-22|-0.14512799999999998|
|2014-02-16|-0.19025999999999998|
|2013-03-14| 0.04971999999999998|
|2011-01-29|-0.10014799999999997|
|2010-09-24|           -0.357788|
|2010-02-12|-0.25953200000000004|
|2009-12-04|           -0.250304|
|2009-06-23|-0.30028000000000005|
|2009-01-04|           -0.251396|
|2008-12-03|-0.16224800000000003|
|2008-11-19| 0.06001999999999999|
|2008-10-26|           -0.226222|
|2016-04-22|-0.12435999999999998|
|2015-02-27|-0.11101600000000002|
|2015-02-09|-0.21621600000000005|
|2014-12-11|-0.12794800000000003|
|2014-07-14|-0.17927200000000001|
|2012-10-21|-0.26868400000000003|
|2012-03-04|           -0.334596|
|2010-03-06|           -0.196204|
|2008-11-26|           -0.227588|
|2008-11-07|-0.20409600000000006|
|2016-05-21|            -0.35638|
|2015-11-20|           -0.288756|
|2015-02-28|-0.26896400000000004|
|2015-02-26|           -0.320816|
|2015-02-08|-0.20144799999999993|
|2013-12-28|-0.30376400000000003|
|2013-08-20|            -0.32832|
|2012-03-09|           -0.144396|
|2012-01-12|           -0.256628|
|2011-07-16|-0.24629200000000004|
+----------+--------------------+
only showing top 35 rows

In [ ]:
df.groupBy("department","state")
    .sum("salary","bonus")
    .show(false)

In [25]:
fill = udf(lambda x: vader.polarity_scores(x)['compound'], IntegerType())

In [26]:
filler = vader.polarity_scores(inputCol="words", outputCol="semantic")
news_2 = filler.transform(news2)

TypeError: ignored

In [ ]:
# посмотрим результат
news2.select("Date", "News", "words", "filtered").withColumn("semantic", fill(col("filtered"))).show(5)

PythonException: ignored

In [ ]:
countTokens = udf(lambda words: len(words), IntegerType()) # разбили все предложения на слова и посчитали их

In [ ]:
udfSentimentScore = udf(getSentimentScore)
dfSentimentScore = news2.withColumn('sentimentScore', udfSentimentScore('News'))
dfSentimentScore.select('filtered','sentimentScore').show(5)
display(dfSentimentScore.show(5))

+--------------------+--------------+
|            filtered|sentimentScore|
+--------------------+--------------+
|[117-year-old, wo...|       -0.5574|
|[imf, chief, back...|       -0.0516|
|[president, franc...|        0.5719|
|[british, man, mu...|       -0.8658|
|[100+, nobel, lau...|        -0.296|
+--------------------+--------------+
only showing top 5 rows

+----------+--------------------+--------------------+--------------------+------+--------------+
|      Date|                News|               words|            filtered|tokens|sentimentScore|
+----------+--------------------+--------------------+--------------------+------+--------------+
|2016-07-01|A 117-year-old wo...|[a, 117-year-old,...|[117-year-old, wo...|    19|       -0.5574|
|2016-07-01|IMF chief backs A...|[imf, chief, back...|[imf, chief, back...|     7|       -0.0516|
|2016-07-01|The president of ...|[the, president, ...|[president, franc...|     7|        0.5719|
|2016-07-01|British Man Who M...|[british, man, wh...|[british, man, mu...|    21|       -0.8658|
|2016-07-01|100+ Nobel laurea...|[100+, nobel, lau...|[100+, nobel, lau...|     8|        -0.296|
+----------+--------------------+--------------------+--------------------+------+--------------+
only showing top 5 rows

None

In [ ]:
display(news.show(5))

+----------+--------------------+
|      Date|                News|
+----------+--------------------+
|2016-07-01|A 117-year-old wo...|
|2016-07-01|IMF chief backs A...|
|2016-07-01|The president of ...|
|2016-07-01|British Man Who M...|
|2016-07-01|100+ Nobel laurea...|
+----------+--------------------+
only showing top 5 rows

None

In [ ]:
display(news.show(5))

+----------+--------------------+
|      Date|                News|
+----------+--------------------+
|2016-07-01|A 117-year-old wo...|
|2016-07-01|IMF chief backs A...|
|2016-07-01|The president of ...|
|2016-07-01|British Man Who M...|
|2016-07-01|100+ Nobel laurea...|
+----------+--------------------+
only showing top 5 rows

None

In [ ]:
display(news.show(5))

+----------+--------------------+
|      Date|                News|
+----------+--------------------+
|2016-07-01|A 117-year-old wo...|
|2016-07-01|IMF chief backs A...|
|2016-07-01|The president of ...|
|2016-07-01|British Man Who M...|
|2016-07-01|100+ Nobel laurea...|
+----------+--------------------+
only showing top 5 rows

None

In [ ]:
fill = udf(lambda x: vader.polarity_scores(x))

In [ ]:
def fill(score):
    return vader.polarity_scores

In [ ]:
fill = udf(lambda x: vader.polarity_scores(x)[''])

news_2 = news2.withColumn('compound', fill(col('filtered')))
news_2.show(5)

PythonException: ignored

In [ ]:
fill = udf(lambda title: vader.polarity_scores(title['compound']))

In [ ]:
udfSentimentScore = udf(fill, FloatType())
dfSentimentScore = news_2.withColumn('sentimentScore', news_2('filtered'))
dfSentimentScore.select('filtered','sentimentScore').show(5)

NameError: ignored

In [ ]:
upperCaseUDF = udf(lambda z:upperCase(z),StringType())   

df.withColumn("Cureated Name", upperCaseUDF(col("Name"))) \
  .show(truncate=False)

In [ ]:
from textblob import TextBlob

In [ ]:
udfSentimentScore = udf(getSentimentScore, FloatType())
dfSentimentScore = dfFilteredCleanedTweet.withColumn('sentimentScore', udfSentimentScore('filteredCleanedTweetText'))
dfSentimentScore.select('filteredCleanedTweetText','sentimentScore').show(5)

In [ ]:
sentiment = udf(lambda x: TextBlob(x).sentiment[0])
spark.udf.register(“sentiment”, sentiment)
news = news.withColumn(‘sentiment’,sentiment(‘text’).cast(‘double’))

In [ ]:
def apply_blob(sentence):
    temp = TextBlob(sentence).sentiment[0]
    if temp == 0.0:
        return 0.0 # Neutral
    elif temp >= 0.0:
        return 1.0 # Positive
    else:
        return 2.0 # Negative

#link to source: https://www.kdnuggets.com/2019/05/analyzing-tweets-nlp-spark-optimus-twint.html/

In [ ]:
sentiment = udf(apply_blob)

In [ ]:
clean_tweets.withColumn("sentiment", sentiment(clean_tweets['tweet'])).show()